@import './style/styles';

.app {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.content {
    padding-top: 30px;
    min-height: calc(100vh - 134px);
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.components {
    width: 100%;

    @include flex-row($jc: center);
}
